<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestCases1">
    <classes>
      <class name="test.LoginTest"/>
    </classes>
  </test> <!-- TestCases -->
 <test thread-count="5" name="TestCases2">
    <classes>
	  <class name="test.FlightsTest"/>
    </classes>
  </test> <!-- TestCases -->
</suite> <!-- Suite -->
